/* line 282, icons/*.png */
.icons-sprite, .icons-add-cart, .icons-added, .icons-arrow-bread, .icons-arrow-white-down, .icons-arrow-white-left, .icons-arrow-white-right, .icons-arrow-white-top, .icons-blue-arrow, .icons-camera, .icons-cart-white, .icons-cart, .icons-corpus, .icons-cpu, .icons-delete, .icons-display, .icons-green-mark, .icons-grid, .icons-home, .icons-info, .icons-interface, .icons-list, .icons-mastercard, .icons-new, .icons-sale, .icons-search, .icons-source, .icons-squre, .icons-visa, .icons-webmoney, .icons-yandexmoney, .icons-zoom {
  background: url('/img/icons-s175ca22e5b.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add-cart {
  background-position: 0 -238px;
  height: 18px;
  width: 23px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-added {
  background-position: 0 -149px;
  height: 17px;
  width: 26px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-bread {
  background-position: 0 -590px;
  height: 5px;
  width: 10px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-white-down {
  background-position: 0 -530px;
  height: 7px;
  width: 11px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-white-left {
  background-position: 0 -504px;
  height: 13px;
  width: 15px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-white-right {
  background-position: 0 -517px;
  height: 13px;
  width: 15px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-white-top {
  background-position: 0 -537px;
  height: 7px;
  width: 11px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue-arrow {
  background-position: 0 -571px;
  height: 5px;
  width: 3px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-camera {
  background-position: 0 -90px;
  height: 29px;
  width: 35px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cart-white {
  background-position: 0 -458px;
  height: 15px;
  width: 24px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cart {
  background-position: 0 -198px;
  height: 40px;
  width: 49px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-corpus {
  background-position: 0 -374px;
  height: 41px;
  width: 32px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cpu {
  background-position: 0 -339px;
  height: 35px;
  width: 35px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete {
  background-position: 0 -544px;
  height: 10px;
  width: 10px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-display {
  background-position: 0 -307px;
  height: 32px;
  width: 22px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-green-mark {
  background-position: 0 -563px;
  height: 8px;
  width: 10px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-grid {
  background-position: 0 -595px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -554px;
  height: 9px;
  width: 11px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-info {
  background-position: 0 -430px;
  height: 28px;
  width: 30px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-interface {
  background-position: 0 -256px;
  height: 29px;
  width: 30px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list {
  background-position: 0 -576px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mastercard {
  background-position: 0 0;
  height: 30px;
  width: 50px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-new {
  background-position: 0 -415px;
  height: 15px;
  width: 29px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sale {
  background-position: 0 -473px;
  height: 15px;
  width: 28px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -488px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-source {
  background-position: 0 -285px;
  height: 22px;
  width: 35px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-squre {
  background-position: 0 -609px;
  height: 4px;
  width: 4px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-visa {
  background-position: 0 -60px;
  height: 30px;
  width: 50px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-webmoney {
  background-position: 0 -30px;
  height: 30px;
  width: 50px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-yandexmoney {
  background-position: 0 -119px;
  height: 30px;
  width: 50px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-zoom {
  background-position: 0 -166px;
  height: 32px;
  width: 32px;
}

/* line 7, ../sass/sprite.scss */
.test {
  color: red;
}
