/*========================
  Layout
  ========================*/
html,
body {
	min-height: 100%;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

/*
 * @subsection header
 */
.header {
	margin:0 auto 10px;
	position: relative;
	z-index: 2;
}

.footer {
	margin:0 auto;

}
/*========================
  Typography
  ========================*/
body {
	font-size: 14px;
	color: #000;
	font-family: 'arial', sans-serif;
	line-height:20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1;
	margin-top:0;
}

h1 {
	font-size:24px;  margin-bottom: 5px;
}
h2 {
	font-size: 18px; margin-bottom: 20px;
}
h3 {
	font-size: 1.250em; margin-bottom: 15px;
}
h4 {
	font-size: 1.2em; margin-bottom: 1.25em;
}
h5 {
	font-size: 1em; font-weight: bold; margin-bottom: 1.5em;
}
h6 {
	font-size: 1em; font-weight: bold;
}

p {
	margin: 0 0 10px;
}
.cf {
	zoom:1;
}
.cf:after {
	display:table;
	clear:both;
	content:"";
}
a {
	color:#0d507e;
	text-decoration:underline;
}
a:hover, a:focus {
	text-decoration:none;
}
ul, ol {
	margin: 0; padding-left: 0;
}

ul {
	list-style-type: none;
}
ol {
	list-style-type: decimal;
}
.left {
	float:left;
}
.right {
	float:right;
}
.icon {
	display: inline-block;
	text-indent: -9999em;
}