/*
Syntax error: File to import not found or unreadable: blueprint.
              Load path: C:/work/China/html/sass
        on line 1 of sprite.scss

1: @import "blueprint";
2: @import "compass";
3: @import "icons/*.png";
4: @include all-icons-sprites(true);

Backtrace:
sprite.scss:1
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/import_node.rb:45:in `import'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.9/bin/scss:9:in `<top (required)>'
C:/Ruby200/bin/scss:23:in `load'
C:/Ruby200/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: blueprint.\A               Load path: C:/work/China/html/sass\A         on line 1 of sprite.scss\A \A 1: @import \"blueprint\";\A 2: @import \"compass\";\A 3: @import \"icons/*.png\";\A 4: @include all-icons-sprites(true);"; }
